* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #7f7f7f;
}

#container > input {
  width: 90%;
  padding: 1px;
  margin: 30px 5px 10px 5px;
  line-height: 25px;
  border-color: burlywood;
}

p {
  margin: 0px 5px;
  position: absolute;
  right: 0px;
}

label {
  margin: 0px 5px;
}

li {
  list-style-type: none; /*Убираем маркеры */
  width: 100%;
  margin: 5px 0px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  position: relative;
}

ul {
  border: 1px solid red;
  width: 90%;
  /* list-style-image: url(https://icons8.com/iconizer/files/Dark_Glass/orig/camera_test.png); */
}

#container {
  background-color: rgb(252, 238, 217);
  width: 50%;
  height: 80%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#btnContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px 5px 10px 5px;
  width: 90%;
}

#addTaskButton,
#deleteTaskButton {
  background-color: blanchedalmond;
  border: 1px solid #cccccc;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  border-radius: 4px;
  color: #555555;
  width: 120px;
  margin: 2px auto;
  font-size: 14px;
  text-align: center;
  height: 20px;
  line-height: 20px;
  margin-bottom: 5px;
  padding: 3px 3px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
#addTaskButton:hover,
#deleteTaskButton:hover,
#addTaskButton:focus,
#deleteTaskButton:focus {
  border-color: rgb(255, 255, 255);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px rgba(255, 255, 255, 0.6);
  outline: 0 none;
}

.taskElem {
  border: 1px solid blue;
}

.highlightElem {
  border: 5px solid red;
  font-size: 18px;
  color: brown;
}

.emptyInput {
  background-color: blanchedalmond;
}

.validTask {
  background-color: greenyellow;
}

.invalidTask {
  background-color: red;
}
