* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #7f7f7f;
}

input {
  width: 90%;
  padding: 1px;
  margin: 30px 5px 10px 5px;
  line-height: 25px;
}

li {
  list-style-type: none; /* Убираем маркеры */
  width: 100%;
  margin: 5px 0px;
  overflow: hidden;
}

ul {
  border: 1px solid red;
  width: 90%;

  margin-left: 0; /* Отступ слева в браузере IE и Opera */
  padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

#container {
  background-color: white;
  width: 50%;
  height: 80%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#btnContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px 5px 10px 5px;
  width: 90%;
}

.taskElem {
  border: 1px solid blue;
}

.highlightElem {
  border: 5px solid red;
  font-size: 18px;
  color: brown;
}

.emptyInput {
  background-color: blanchedalmond;
}

.validTask {
  background-color: greenyellow;
}

.invalidTask {
  background-color: red;
}
